/* Style header */

header {
    display: flex;
    width: 100%;
    height: 8.8rem;
    background-color: var(--colors-gray-800);
}

header .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    margin-right: 3.2rem;
}

header nav ul li {
    margin-left: 3.2rem;
}

header nav ul li:first-child{
    margin-left: 0;
}

header nav .btn-primary {
    padding: 0.9rem 3.4rem;
}

header .menu-mobile {
    display: none;
}

/* Style Section Hero */

.s-hero {
    padding: 7.2rem 0rem;
}

.s-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-hero .text {
    width: 100%;
    max-width: 64.0rem;
}

.s-hero .text h1 {
    margin-bottom: 2.0rem;
}

.s-hero .text p {
    max-width: 48.8rem;
    margin-bottom: 5.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--colors-gray-300);
}

.s-hero .text a {
    padding: 1.2rem 3.4rem;
}

.s-hero .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 48.8rem;
    height: 49.6rem;
    background-color: var(--colors-gray-800);
}

/* Section featured cards */

.s-card-featured {
    padding: 10.4rem 0rem 12rem 0rem;
    background-color: var(--colors-gray-100);
}

.s-card-featured .main-area {
    padding-bottom: 12.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.s-card-featured .title {
    display: flex;
    flex-direction: column;
}
.s-card-featured .title.center {
    align-items: center;
}

.s-card-featured .title p {
    margin-top: 0.8rem;
}

.s-card-featured p {
    color:var(--colors-text);
}

.s-card-featured .all-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
}

.s-card-featured .all-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-width:38.4rem;
    height:38.2rem ;
    padding-top:6.4rem ;
    background-color: var(--colors-gray-200);
}

.s-card-featured .all-cards .card.white {
    box-shadow: 0px 16px 80px -4px rgba(194, 37, 92, 0.08);
    background-color: var(--colors-white);
}

.s-card-featured .all-cards .card.white h3{
    color:var(--colors-gray-100);
}

.s-card-featured .all-cards .card.white p{
    color:var(--colors-gray-300);
}

.s-card-featured .all-cards .card .info {
    margin-top: 4rem; 
    max-width: 28.8rem;
}

.s-card-featured .all-cards .card .info h3 {
    text-align: center;
}

.s-card-featured .all-cards .card .info p {
    text-align: center;
    margin-top: 0.8rem;
    line-height: 150%; 
}

.s-card-featured .second-area {
    margin-top: 11.2rem;
}

.s-card-featured .second-area .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem;
}

.s-card-featured .second-area .all-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;


}
.s-card-featured .second-area .all-imgs .image {
    width: 17.6rem;
    height: 11.2rem;
    background-color:var(--colors-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Section Newsletter */

.s-newsletter {
    padding: 15.2rem 0rem;
    background-color: var(--colors-gray-500);

}

.s-newsletter .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-newsletter h2{
    margin: 0 0 2rem 0;
    text-align: center;
}

.s-newsletter p {
    text-align: center;
    max-width: 69.4rem;
    margin: 0 0 4rem 0;
    color: var(--colors-text);
}

.s-newsletter .btn-primary {
    padding: 1.75rem 5.32rem
}

/* Footer */

footer{
    padding: 8.8rem 0 3.9rem 0;
    background-color: var(--colors-gray-100);
}

footer main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 0 7.2rem 0;
}

footer main .area-left {
    max-width: 28.1rem;

}

footer main .area-left p {
    font-size: 1.4rem;
    line-height: 150%;
    margin: 3.5rem 0 0 0 ;
    color: var(--colors-text);

}

footer main nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 77.7rem;
  }

  footer main nav .item h6 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1px;
    margin: 0 0 2.4rem 0 ;
    color: var(--colors-white);
  }

  footer main nav .item ul li {
    margin: 0 0 3.2rem 0;
  }

  footer main nav .item ul li:last-child {
    margin-bottom: 0;
  }

  footer main nav .item ul li a {
    font-family: 'Sora', sans-serif; 
    font-size: 1.4rem;
    line-height: 105%;
    color: var(--colors-text);
  }

