:root {
    --colors-pink: #F67ACB;
    --colors-gray: #E6EBF2;
    --colors-gray-100:#050110;
    --colors-gray-200:rgba(28, 29, 31, 0.5);
    --colors-gray-300:#393C40;
    --colors-gray-400:#5C6066;
    --colors-gray-500: #1C1D1F;
    --colors-gray-800:#F7F8FA; 
    --colors-white:#fff;
    --colors-text: rgba(255, 255, 255, 0.70);

}